<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="antistatic.widget.demo"
      android:versionCode="1"
      android:versionName="1.0">

    <uses-sdk
            android:minSdkVersion="4"
            android:targetSdkVersion="13" />

    <application android:icon="@drawable/ic_launcher_demo" android:label="WheelDemo">

        <activity android:name="antistatic.widget.demo.WheelDemo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="antistatic.widget.demo.TimeActivity" android:label="Binding to standard controls | Time">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="antistatic.widget.WHEEL_SAMPLE"/>
            </intent-filter>
        </activity>
        <activity android:name="antistatic.widget.demo.Time2Activity" android:label="Custom views | Time 2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="antistatic.widget.WHEEL_SAMPLE"/>
            </intent-filter>
        </activity>
        <activity android:name="antistatic.widget.demo.PasswActivity" android:label="Programmatic switching | Password">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="antistatic.widget.WHEEL_SAMPLE"/>
            </intent-filter>
        </activity>
        <activity android:name="antistatic.widget.demo.CitiesActivity" android:label="Repopulating data | Cities">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="antistatic.widget.WHEEL_SAMPLE"/>
            </intent-filter>
        </activity>

    </application>


</manifest>