<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="kankan.wheel.demo"
      android:versionCode="1"
      android:versionName="1.0">

    <uses-sdk
            android:minSdkVersion="4"
            android:targetSdkVersion="13" />

    <application android:icon="@drawable/wheel" android:label="WheelDemo">

        <activity android:name="kankan.wheel.demo.WheelDemo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="kankan.wheel.demo.TimeActivity" android:label="Time">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="kankan.wheel.WHEEL_SAMPLE"/>
            </intent-filter>
        </activity>
        <activity android:name="kankan.wheel.demo.Time2Activity" android:label="Time 2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="kankan.wheel.WHEEL_SAMPLE"/>
            </intent-filter>
        </activity>
        <activity android:name="kankan.wheel.demo.DateActivity" android:label="Date">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="kankan.wheel.WHEEL_SAMPLE"/>
            </intent-filter>
        </activity>
        <activity android:name="kankan.wheel.demo.PasswActivity" android:label="Password">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="kankan.wheel.WHEEL_SAMPLE"/>
            </intent-filter>
        </activity>
        <activity android:name="kankan.wheel.demo.SlotMachineActivity" android:label="Slot Machine">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="kankan.wheel.WHEEL_SAMPLE"/>
            </intent-filter>
        </activity>
        <activity android:name="kankan.wheel.demo.CitiesActivity" android:label="Cities">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="kankan.wheel.WHEEL_SAMPLE"/>
            </intent-filter>
        </activity>
        <!-- activity android:name="kankan.wheel.demo.SpeedActivity" android:label="Speed">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="kankan.wheel.WHEEL_SAMPLE"/>
            </intent-filter>
        </activity-->

    </application>


</manifest>